{% extends 'blog/base_blog.html' %}


{% block title  %}

       Delete Tag '{{tag.title|title}}' - {{blog.super}}

{% endblock   %}




{% block content  %}

       <form action="{{tag.get_delete_url}}" method="POST" >
           {% csrf_token %}
           <h1>Вы уверенны что ходите удалить <b> '{{tag.title|title}}' </b> тэг? </h1>
            <button type="submit" class="btn btn-primary"><a href="{{tag.get_absolute_url}}" style="text-decoration: none; color: aliceblue;">Cancel</a></button>
            <button type="submit" class="btn btn-danger">Delete</button>

       </form>

{% endblock   %}